@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SuperSunday';
    src: url('./assets/SuperSunday.ttf') format('truetype');
}

.newfont {
    font-family: 'SuperSunday';
}