@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SuperSunday';
    src: url('./assets/SuperSunday.ttf') format('truetype');
}

@font-face {
    font-family: 'CUTE';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oneMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yang';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text-stroke {
    -webkit-text-stroke: 0.5px black;
}

.s-text-stroke {
    -webkit-text-stroke: 0.1px black;
}

.newfont {
    font-family: 'SuperSunday';
}

.cutefont {
    font-family: 'CUTE';
}

.onefont {
    font-family: 'oneMo';
}

.yangfont {
    font-family: 'yang';
}

@media (max-width: 1280px) {
    .info-panel {
        top: auto;
        left: auto;
        margin-top: 1rem; /* canvas 아래 여백 조절 */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }

    .cur-p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    canvas {
        margin-top: 1rem; /* 필요에 따라 조정 */
    }
}